:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.layout {
  max-width: 991px;
  margin: 0 auto;
}

.header {
  padding: 8px 15px;
  background-color: #f1f1f1;
}

.header h4 {
  margin: 0;
}

.content {
  padding: 10px;
  border: 1px solid #f1f1f1;
}

.change-layout{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.change-layout button {
  padding: 8px 20px;
  color: #fff;
  background-color: darkcyan;
  border: unset;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
}

.change-layout select {
  border-radius: 5px;
  border-color: #ddd;
  padding: 5px;
}

.data-table {
  margin-top: 10px;
}

.table {
	width:100%;
	border:1px solid #EEEEEE;
}

.table-header {
	display:flex;
	background:#000;
	padding:12px;
}

.table-row {
	display:flex;
	padding:12px;	
}

.table-row:nth-of-type(odd) {
  background: #EEEEEE;
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
  
  font-size: 14px;
}

.header__item {
	text-transform:uppercase;
  color: #fff;
}